<h1>How to play the game.</h1>
<p>Playing the game is simple!</p>
<ol>
  <li>Player 1 selects their item</li>
  <li>Player 2 selects their item</li>
  <li>Enter these into the address bar with the format "/rps/player1_choice/player2_choice"</li>
  <li>Hit Enter!</li>
</ol>
<span><strong>No cheating now!</strong></span>
